body { 
	padding-top: 70px; 
}

#inboxNotifications{
	background-color: #5882FA;
}

#panelSearchResultFooter{
	border-radius: 25px 25px 25px 25px;
}
#panelSearchresult{
	border-radius: 25px;
}

.panel {
    border: 0 !important;
}

.influencer-name{
	text-align: center;
}

.influencer-name:hover + .influencer-extra-info {
    display: block;
}

.influencer-extra-info{

}

.panel-footer{
	padding: 5px !important;
}

.tag{
  background-color: #5882FA;
  border-radius: 10px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: .8em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.tag:hover{
  background-color: #b5c7fd;
  color: gray;

}