body { 
	padding-top: 70px; 
}

#InboxNotifications{
	background-color: #5882FA;
}

.social-list-item{
  list-style: none;
  display: inline !important;
  float: left;
  margin: .6em;

}


#top-container{
  padding: 1em;
  border-style: solid;
  border-color: #5882FA;
  border-radius: 5px;
}

.profile-body{
  padding: .5em;
}

.profile-header{
  margin-bottom: 0em;
}

.profile-divider{
  margin-top: .3em;
}

#rating{
  color:#5882FA;
  margin-left: 1em;
}

#name {
  margin-left: .5em;

}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

#social-carousel{
  margin-top: 2em;
}


.tag{
  background-color: #5882FA;
  border-radius: 10px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: .8em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.tag:hover{
  background-color: #b5c7fd;
  color: gray;

}
