#majorRow {
  /*background-image: url("http://www.hiatec.org/images/Business_Incubation_Startup.jpg");*/
  background-image: url("https://i.groupme.com/1280x720.jpeg.6c037ac97fdc4100b271492052e834b0");
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  /*color: #ED005F;
  padding-top: 50px;
  padding-bottom: 500px;*/
}

#topRow h1{
  /*font-size: 400%*/
}

