#topContainer {
  background-image: url("http://images.freeimages.com/images/previews/949/small-town-1445441.jpg");
  width: 100%;
  background-size: cover;
  /*color: #ED005F;
  padding-top: 50px;
  padding-bottom: 500px;*/
}

#topRow h1{
  /*font-size: 400%*/
}

