<div class = "row">
  <div class = "col-md-6">
    <h1> My Campaigns </h1>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
        <% @campaigns.each do |campaign| %>
          <li><%= campaign.name %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
