/*
* This is a manifest file that'll be compiled into application.css, which
* will include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets,
* vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
* can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the bottom of the compiled file so the styles you add here take
* precedence over styles defined in any styles defined in the other CSS/SCSS
* files in this directory. It is generally better to create a new file per
* style scope.
*
*= require_tree .
*= require_self
*/

html, body {
	height: 100%;
	width: 100%;
}
.yieldContent {
	height: 100%;
}
.yieldContentRow {
	height: 90%;
}
.container.mainContainer {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.navRow {
	height:10%;
	box-shadow:1px 1px 12px #888888;
}

.navbar.navbar-default.navbar-fixed-top.topNavBar{
	height: 10%;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	box-shadow:1px 1px 12px #888888;
}

.frontColumns {
	height:50%;
	padding-bottom: 1%;
}

.howItWorks {
	text-align: center;
	padding-bottom: 2%;
}

.frontSecondRow {
	padding-top: 1%;
	height: 100%;
}

.frontThirdRow {
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
	background-image: url("http://s.hswstatic.com/gif/tax-tips-small-business-1-orig.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-color:rgba(255,0,0,0.5);
	color: white;
}
.layer {
        background-color: rgba(46, 249, 155, 0.5);
	width: 100%;
	height:100%;
}
.glyphHolder {
	text-align: center;
	padding-top: 30px;
}
.frontColumns h3 {
	padding-top: 10px;
	text-align: center;
}
.explainer {
	color: white;
	font-size: 30px;
	padding-top: 15%;
}
.weHelpBy {
	text-align: left;
}

.panel-default {
	box-shadow: 1px 1px 12px #888888;
	border-color:none;
}

.panel-default>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

.btn-default {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;}

.mainFooter {
	background-color: rgba(255,255,255,0.3);
}
