<!DOCTYPE html>
<html>
	<head>
		<title>LocalsLoveIt</title>
	</head>
	<body>

		<div id='NavBar'>
			<%= react_component('NavBar', {} ,{prerender: true}) %>
			</div>

		<div id='content'>
			<%= yield %>
		</div>

	</body>
</html>
