<!DOCTYPE html>
<html>
	<head>
       	 <title>LocalsLoveIt</title>
	 <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
	</head>
	<body>

		<div id='NavBar'>
			<%= react_component('NavBar', {} ,{prerender: true}) %>
			</div>

		<div id='content'>
			<%= yield %>
		</div>

	</body>
</html>
